

body {
    background: url(dino.png);
    background-size: 120px 140px;
    background-repeat: no-repeat;
    background-position: 10px 100px;
    background-color: lavender;
}

body:after {
    content: " ";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #cfa;
    opacity: .15;
    z-index: -1;
}
